In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import japanize_matplotlib
japanize_matplotlib.japanize()

In [10]:
data = pd.read_csv("C:\\Users\\ohrtt\\Documents\\GitHub\\c3_2024\\data_analysis\\select_target\\data.csv")
data

,rowid,toi,toipfx,tid,ctoi_alias,pl_pnum,tfopwg_disp,rastr,ra,raerr1,...,st_loggerr2,st_logglim,st_loggsymerr,st_rad,st_raderr1,st_raderr2,st_radlim,st_radsymerr,toi_created,rowupdate
0,1,1000.01,1000,50365310,5.036531e+07,1,FP,07h29m25.85s,112.357708,NaN,...,-0.07,0,1,2.169860,0.072573,-0.072573,0,1,2019/7/24 15:58,2024/9/9 10:08
1,2,1001.01,1001,88863718,8.886372e+07,1,PC,08h10m19.31s,122.580465,NaN,...,-0.09,0,1,2.010000,0.090000,-0.090000,0,1,2019/7/24 15:58,2023/4/3 14:31
2,3,1002.01,1002,124709665,1.247097e+08,1,FP,06h58m54.47s,104.726966,NaN,...,NaN,0,1,5.730000,NaN,NaN,0,1,2019/7/24 15:58,2022/7/11 16:02
3,4,1003.01,1003,106997505,1.069975e+08,1,FP,07h22m14.39s,110.559945,NaN,...,-1.64,0,1,NaN,NaN,NaN,0,1,2019/7/24 15:58,2022/2/23 10:10
4,5,1004.01,1004,238597883,2.385979e+08,1,FP,08h08m42.77s,122.178195,NaN,...,-0.07,0,1,2.150000,0.060000,-0.060000,0,1,2019/7/24 15:58,2024/9/9 10:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7231,7232,995.01,995,317951248,3.179512e+08,1,FP,07h23m14.75s,110.811443,NaN,...,NaN,0,1,NaN,NaN,NaN,0,1,2019/7/24 15:58,2021/10/29 12:59
7232,7233,996.01,996,142918609,1.429186e+08,1,FP,07h57m23.99s,119.349948,NaN,...,NaN,0,1,2.050000,NaN,NaN,0,1,2019/7/24 15:58,2021/10/29 12:59
7233,7234,997.01,997,341729521,3.417295e+08,1,FP,08h05m16.69s,121.319521,NaN,...,-0.08,0,1,0.926261,0.045789,-0.045789,0,1,2019/7/24 15:58,2024/9/9 10:08
7234,7235,998.01,998,54390047,5.439005e+07,1,FP,07h53m16.69s,118.319555,NaN,...,-0.07,0,1,2.349860,0.091578,-0.091578,0,1,2019/7/24 15:58,2024/9/9 10:08
7235,7236,999.01,999,341186896,3.411869e+08,1,FP,07h55m27.38s,118.864086,NaN,...,-0.09,0,1,1.300000,0.050000,-0.050000,0,1,2019/7/24 15:58,2024/9/9 10:08

In [12]:
# 観測可能領域に位置する天体のみ
data_sel = data[(data['ra'] > 315) & (data['ra'] < 360) & (data['dec'] > 15) & (data['dec'] < 45)]

In [13]:
data_sel

,rowid,toi,toipfx,tid,ctoi_alias,pl_pnum,tfopwg_disp,rastr,ra,raerr1,...,st_loggerr2,st_logglim,st_loggsymerr,st_rad,st_raderr1,st_raderr2,st_radlim,st_radsymerr,toi_created,rowupdate
329,330,1275.01,1275,13499636,1.349964e+07,1,FA,21h20m48.46s,320.201905,NaN,...,-0.083156,0,1,0.824734,0.044294,-0.044294,0,1,2019/10/17 0:30,2023/6/18 12:02
333,334,1278.01,1278,163539739,1.635397e+08,1,CP,21h21m54.83s,320.478444,NaN,...,-0.009344,0,1,0.550350,0.016058,-0.016058,0,1,2019/10/17 0:30,2023/6/13 16:02
339,340,1283.01,1283,266593143,2.665931e+08,1,KP,21h38m08.63s,324.535978,NaN,...,-0.077034,0,1,0.840000,0.040000,-0.040000,0,1,2019/10/17 0:30,2022/11/9 16:02
374,375,1314.01,1314,136848581,1.368486e+08,1,FP,21h10m59.5s,317.747900,NaN,...,NaN,0,1,2.720000,NaN,NaN,0,1,2019/10/17 0:30,2024/4/17 10:08
377,378,1317.01,1317,165523947,1.655239e+08,1,FP,21h07m15.33s,316.813885,NaN,...,-0.080000,0,1,3.560000,0.120000,-0.120000,0,1,2019/10/17 0:30,2021/10/29 12:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5982,5983,6238.01,6238,125489084,1.254891e+08,1,PC,23h40m00.68s,355.002821,NaN,...,NaN,0,1,1.260000,NaN,NaN,0,1,2023/4/3 20:51,2024/8/22 10:08
5997,5998,6250.01,6250,455737331,4.557373e+08,1,PC,23h49m24.44s,357.351836,NaN,...,-0.081225,0,1,1.087520,0.051694,-0.051694,0,1,2023/4/3 20:52,2023/8/29 12:02
6002,6003,6255.01,6255,261135533,2.611355e+08,1,PC,22h06m00.76s,331.503161,NaN,...,-0.001188,0,1,0.369077,0.010996,-0.010996,0,1,2023/4/6 19:33,2024/2/25 12:02
6855,6856,7011.01,7011,167631701,1.676317e+08,1,PC,21h18m18.47s,319.576960,NaN,...,-0.080000,0,1,1.080000,0.060000,-0.060000,0,1,2024/5/30 23:41,2024/8/22 12:02
6867,6868,7022.01,7022,125366299,1.253663e+08,1,PC,21h23m39.39s,320.914125,NaN,...,-0.080000,0,1,1.190000,0.070000,-0.070000,0,1,2024/5/30 23:42,2024/8/22 10:08

In [14]:
# 100 pc以内, transit depth 1%以上の天体のみ抽出
data_sel2 = data_sel[(data_sel['st_dist']<100) & (data_sel['pl_trandep']>10000)]

In [15]:
data_sel2
save = data_sel2.to_csv("C:\\Users\\ohrtt\\Documents\\GitHub\\c3_2024\\data_analysis\\select_target\\data_sel2.csv")

c:\Users\ohrtt\Documents\GitHub\c3_2024\.venv\Lib\site-packages\pandas\core\indexes\base.py:7834: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)