In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import japanize_matplotlib
japanize_matplotlib.japanize()

In [3]:
df = pd.read_csv("C:\\Users\\ohrtt\\Documents\\GitHub\\c3_2024\\data_analysis\\select_target\\data.csv")
df

,rowid,toi,toipfx,tid,ctoi_alias,pl_pnum,tfopwg_disp,rastr,ra,raerr1,...,st_loggerr2,st_logglim,st_loggsymerr,st_rad,st_raderr1,st_raderr2,st_radlim,st_radsymerr,toi_created,rowupdate
0,1,1000.01,1000,50365310,5.036531e+07,1,FP,07h29m25.85s,112.357708,NaN,...,-0.07,0,1,2.169860,0.072573,-0.072573,0,1,2019/7/24 15:58,2024/9/9 10:08
1,2,1001.01,1001,88863718,8.886372e+07,1,PC,08h10m19.31s,122.580465,NaN,...,-0.09,0,1,2.010000,0.090000,-0.090000,0,1,2019/7/24 15:58,2023/4/3 14:31
2,3,1002.01,1002,124709665,1.247097e+08,1,FP,06h58m54.47s,104.726966,NaN,...,NaN,0,1,5.730000,NaN,NaN,0,1,2019/7/24 15:58,2022/7/11 16:02
3,4,1003.01,1003,106997505,1.069975e+08,1,FP,07h22m14.39s,110.559945,NaN,...,-1.64,0,1,NaN,NaN,NaN,0,1,2019/7/24 15:58,2022/2/23 10:10
4,5,1004.01,1004,238597883,2.385979e+08,1,FP,08h08m42.77s,122.178195,NaN,...,-0.07,0,1,2.150000,0.060000,-0.060000,0,1,2019/7/24 15:58,2024/9/9 10:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7231,7232,995.01,995,317951248,3.179512e+08,1,FP,07h23m14.75s,110.811443,NaN,...,NaN,0,1,NaN,NaN,NaN,0,1,2019/7/24 15:58,2021/10/29 12:59
7232,7233,996.01,996,142918609,1.429186e+08,1,FP,07h57m23.99s,119.349948,NaN,...,NaN,0,1,2.050000,NaN,NaN,0,1,2019/7/24 15:58,2021/10/29 12:59
7233,7234,997.01,997,341729521,3.417295e+08,1,FP,08h05m16.69s,121.319521,NaN,...,-0.08,0,1,0.926261,0.045789,-0.045789,0,1,2019/7/24 15:58,2024/9/9 10:08
7234,7235,998.01,998,54390047,5.439005e+07,1,FP,07h53m16.69s,118.319555,NaN,...,-0.07,0,1,2.349860,0.091578,-0.091578,0,1,2019/7/24 15:58,2024/9/9 10:08
7235,7236,999.01,999,341186896,3.411869e+08,1,FP,07h55m27.38s,118.864086,NaN,...,-0.09,0,1,1.300000,0.050000,-0.050000,0,1,2019/7/24 15:58,2024/9/9 10:08

In [6]:
df['hour_angle_at_19']=19*15-df['ra']
df['hour_angle_at_22']=22*15-df['ra']

In [10]:
def calc_alt(lati, dec, H):
    return np.degrees(np.arcsin(np.sin(np.radians(dec))*np.sin(np.radians(lati))+np.cos(np.radians(dec))*np.cos(np.radians(lati))*np.cos(np.radians(H))))

In [14]:
lati = 35.0 # 京都の緯度
df['alt_at_19'] = calc_alt(lati, df['dec'], df['hour_angle_at_19'])
df['alt_at_22'] = calc_alt(lati, df['dec'], df['hour_angle_at_22'])

In [26]:
def calc_az(lati, dec, H, alt):
    sinA = -1.*np.cos(np.radians(dec))*np.cos(np.radians(lati))*np.sin(np.radians(H))/np.cos(np.radians(alt))
    cosA = (np.sin(np.radians(dec))-np.sin(np.radians(alt))*np.sin(np.radians(lati)))/np.cos(np.radians(alt))/np.cos(np.radians(lati))
    az = np.degrees(np.arctan2(sinA, cosA))
    az = np.where(az<0, az+360, az)
    return az

In [27]:
df['az_at_19'] = calc_az(lati, df['dec'], df['hour_angle_at_19'], df['alt_at_19'])
df['az_at_22'] = calc_az(lati, df['dec'], df['hour_angle_at_22'], df['alt_at_22'])

In [28]:
df

,rowid,toi,toipfx,tid,ctoi_alias,pl_pnum,tfopwg_disp,rastr,ra,raerr1,...,st_radlim,st_radsymerr,toi_created,rowupdate,hour_angle_at_19,hour_angle_at_22,alt_at_19,alt_at_22,az_at_19,az_at_22
0,1,1000.01,1000,50365310,5.036531e+07,1,FP,07h29m25.85s,112.357708,NaN,...,0,1,2019/7/24 15:58,2024/9/9 10:08,172.642292,217.642292,-66.722689,-49.361742,344.732169,61.676593
1,2,1001.01,1001,88863718,8.886372e+07,1,PC,08h10m19.31s,122.580465,NaN,...,0,1,2019/7/24 15:58,2023/4/3 14:31,162.419535,207.419535,-56.345264,-51.157750,332.121038,41.254888
2,3,1002.01,1002,124709665,1.247097e+08,1,FP,06h58m54.47s,104.726966,NaN,...,0,1,2019/7/24 15:58,2022/7/11 16:02,180.273034,225.273034,-65.579188,-42.219915,0.531790,66.700776
3,4,1003.01,1003,106997505,1.069975e+08,1,FP,07h22m14.39s,110.559945,NaN,...,0,1,2019/7/24 15:58,2022/2/23 10:10,174.440055,219.440055,-79.094911,-54.751992,336.813287,83.707607
4,5,1004.01,1004,238597883,2.385979e+08,1,FP,08h08m42.77s,122.178195,NaN,...,0,1,2019/7/24 15:58,2024/9/9 10:08,162.821805,207.821805,-71.272145,-65.333726,211.957447,138.261903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7231,7232,995.01,995,317951248,3.179512e+08,1,FP,07h23m14.75s,110.811443,NaN,...,0,1,2019/7/24 15:58,2021/10/29 12:59,174.188557,219.188557,-49.069332,-35.191392,352.732618,44.629194
7232,7233,996.01,996,142918609,1.429186e+08,1,FP,07h57m23.99s,119.349948,NaN,...,0,1,2019/7/24 15:58,2021/10/29 12:59,165.650052,210.650052,-69.987156,-58.852858,322.579682,64.062630
7233,7234,997.01,997,341729521,3.417295e+08,1,FP,08h05m16.69s,121.319521,NaN,...,0,1,2019/7/24 15:58,2024/9/9 10:08,163.680479,208.680479,-63.210913,-59.148005,195.244165,156.212611
7234,7235,998.01,998,54390047,5.439005e+07,1,FP,07h53m16.69s,118.319555,NaN,...,0,1,2019/7/24 15:58,2024/9/9 10:08,166.680445,211.680445,-66.005203,-54.747876,331.706601,56.890809
7235,7236,999.01,999,341186896,3.411869e+08,1,FP,07h55m27.38s,118.864086,NaN,...,0,1,2019/7/24 15:58,2024/9/9 10:08,166.135914,211.135914,-65.014660,-58.963506,194.382902,153.001771

In [34]:
# 19時に京都で観測可能領域に位置する天体のみ
df_sel_19 = df[((((df['az_at_19'] > 315) & (df['az_at_19'] < 360)) | ((df['az_at_19'] > 0) & (df['az_at_19'] < 15))) & (df['alt_at_19'] > 15) & (df['alt_at_19'] < 45)) | ((df['az_at_19'] > 15) & (df['az_at_19'] < 30) & (df['alt_at_19'] > 0) & (df['alt_at_19'] < 45))]

In [35]:
df_deep_19 = df_sel_19[(df_sel_19['pl_trandep']>10000)]

In [36]:
df_deep_19

,rowid,toi,toipfx,tid,ctoi_alias,pl_pnum,tfopwg_disp,rastr,ra,raerr1,...,st_radlim,st_radsymerr,toi_created,rowupdate,hour_angle_at_19,hour_angle_at_22,alt_at_19,alt_at_22,az_at_19,az_at_22
163,164,1141.01,1141,159510109,1.595101e+08,1,FP,16h30m08.33s,247.534722,NaN,...,0,1,2019/8/27 16:09,2024/5/17 10:08,37.465278,82.465278,42.442564,35.695185,353.451895,350.239705
193,194,1169.01,1169,302518439,3.025184e+08,1,PC,08h56m28.81s,134.120039,NaN,...,0,1,2019/8/27 16:09,2024/5/17 10:08,150.879961,195.879961,19.410690,18.097971,352.682671,4.063632
320,321,1268.01,1268,142394656,1.423947e+08,1,CP,13h13m33.26s,198.388583,NaN,...,0,1,2019/10/17 0:30,2024/5/8 10:08,86.611417,131.611417,32.030366,14.776374,331.826061,342.492038
565,566,1474.01,1474,427654774,4.276548e+08,1,FP,23h17m09.38s,349.289072,NaN,...,0,1,2019/12/5 16:42,2021/10/29 12:59,-64.289072,-19.289072,41.305101,53.288538,20.022781,8.875977
611,612,1516.01,1516,376637093,3.766371e+08,1,CP,22h40m20.31s,340.084620,NaN,...,0,1,2019/12/5 21:41,2024/8/24 10:08,-55.084620,-10.084620,44.542166,55.050568,19.826132,5.039246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6846,6847,7003.01,7003,219707850,2.197078e+08,1,PC,09h06m31.46s,136.631085,NaN,...,0,1,2024/5/30 23:40,2024/8/22 10:08,148.368915,193.368915,18.275358,16.320283,351.434353,3.708927
6859,6860,7015.01,7015,11894726,1.189473e+07,1,PC,11h52m42.31s,178.176278,NaN,...,0,1,2024/5/30 23:41,2024/8/22 10:08,106.823722,151.823722,15.726543,-2.938132,324.198080,344.831104
6862,6863,7018.01,7018,156512187,1.565122e+08,1,PC,14h44m17.73s,221.073871,NaN,...,0,1,2024/5/30 23:41,2024/8/22 10:08,63.926129,108.926129,39.502978,30.360889,348.398331,349.095382
6874,6875,7029.01,7029,446166017,4.461660e+08,1,PC,12h14m04.56s,183.519002,NaN,...,0,1,2024/5/30 23:42,2024/8/22 10:08,101.480998,146.480998,18.681667,-1.440061,322.215043,342.088125
6878,6879,7031.01,7031,284592989,2.845930e+08,1,PC,12h24m03.06s,186.012762,NaN,...,0,1,2024/5/30 23:43,2024/5/31 12:02,98.987238,143.987238,17.145148,-5.636668,316.245950,338.447671

In [31]:
# 100 pc以内, transit depth 1%以上の天体のみ抽出
# data_sel2 = data_sel[(data_sel['st_dist']<100) & (data_sel['pl_trandep']>10000)]
data_sel2 = data_sel[(data_sel['pl_trandep']>10000) & (data_sel['st_tmag']<7)]
# data_sel2 = data[(data['pl_trandep']>10000) & (data['st_tmag']<7)]

In [32]:
data_sel2

Empty DataFrame
Columns: [rowid, toi, toipfx, tid, ctoi_alias, pl_pnum, tfopwg_disp, rastr, ra, raerr1, raerr2, decstr, dec, decerr1, decerr2, st_pmra, st_pmraerr1, st_pmraerr2, st_pmralim, st_pmrasymerr, st_pmdec, st_pmdecerr1, st_pmdecerr2, st_pmdeclim, st_pmdecsymerr, pl_tranmid, pl_tranmiderr1, pl_tranmiderr2, pl_tranmidlim, pl_tranmidsymerr, pl_orbper, pl_orbpererr1, pl_orbpererr2, pl_orbperlim, pl_orbpersymerr, pl_trandurh, pl_trandurherr1, pl_trandurherr2, pl_trandurhlim, pl_trandurhsymerr, pl_trandep, pl_trandeperr1, pl_trandeperr2, pl_trandeplim, pl_trandepsymerr, pl_rade, pl_radeerr1, pl_radeerr2, pl_radelim, pl_radesymerr, pl_insol, pl_insolerr1, pl_insolerr2, pl_insollim, pl_insolsymerr, pl_eqt, pl_eqterr1, pl_eqterr2, pl_eqtlim, pl_eqtsymerr, st_tmag, st_tmagerr1, st_tmagerr2, st_tmaglim, st_tmagsymerr, st_dist, st_disterr1, st_disterr2, st_distlim, st_distsymerr, st_teff, st_tefferr1, st_tefferr2, st_tefflim, st_teffsymerr, st_logg, st_loggerr1, st_loggerr2, st_logglim, st_loggsymerr, st_rad, st_raderr1, st_raderr2, st_radlim, st_radsymerr, toi_created, rowupdate]
Index: []

[0 rows x 87 columns]

In [23]:
save = data_sel2.to_csv("C:\\Users\\ohrtt\\Documents\\GitHub\\c3_2024\\data_analysis\\select_target\\data_sel2.csv")

c:\Users\ohrtt\Documents\GitHub\c3_2024\.venv\Lib\site-packages\pandas\core\indexes\base.py:7834: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)